
body {
background: #ccd3ff;
}

h2{
text-align: center;
font-size: 60px;
color:#99a7fc;
font-family: 'Lobster', sans-serif;
}

p{
text-align: center;
font-size: 20px;
font-family: 'PT Sans Narrow', sans-serif;
}

.container{
padding: 20px;
width: 500px;
margin: 0 auto;
margin-top: 40px;
background: #f8f8ff;
border-radius: 5px;
}

form {
display: inline-block;
}

input{
padding: 4px 100px 4px 5px;
margin-left: 20px;
margin-right: 10px;
border-radius: 10px;
}

#button{
display: inline-block;
background-color:#99a7fc;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
font-family: 'PT Sans Narrow', sans-serif;
}

#button:hover{
cursor: pointer;
opacity: .7;
}

li{
ont: 
}

ol {
padding-left: 20px;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 24px;
}

ol li {
padding: 5px;color:#000;
}

ol li:nth-child(even){
background: #dfdfdf;
}

.strike{
text-decoration: line-through;
}

li:hover{
cursor: pointer;
}
